.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #1d3557;
  padding: 10px;
  border-radius: 10px;
}

.grid-row {
  display: contents;
}

.grid-cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe5ec;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #1d3557;
}

.grid-cell.value-2 {
  background-color: #fce4ec;
  color: #6b425e;
}

.grid-cell.value-4 {
  background-color: #f8bbd0;
  color: #6b425e;
}

.grid-cell.value-8 {
  background-color: #f48fb1;
  color: #f9f6f2;
}

.grid-cell.value-16 {
  background-color: #f06292;
  color: #f9f6f2;
}

.grid-cell.value-32 {
  background-color: #ec407a;
  color: #f9f6f2;
}

.grid-cell.value-64 {
  background-color: #e91e63;
  color: #f9f6f2;
}

.grid-cell.value-128 {
  background-color: #d81b60;
  color: #f9f6f2;
}
