.title {
  font-size: 36px;
  font-weight: bold;
  color: #1d3557;
}

.scoreboard {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.scoreboard div {
  background-color: #1d3557;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
